<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note Manager</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <style type="text/tailwindcss">
        @theme {
            --color-page: #1E1E2E;
            --color-surface: #313244;
            --color-hover: #45475A;
            --color-border: #45475A;
            --color-accent: #7C3AED;
            --color-accent-hover: #6D28D9;
            --color-text: #CDD6F4;
            --color-muted: #A6ADC8;
            --color-subtle: #6C7086;
            --color-done: #A6E3A1;
            --color-danger: #F38BA8;
            --color-pin: #F9E2AF;
            --color-pin-hover: #FAB387; 
            --color-show: #89B4FA;      
             --color-show-hover: #74C7EC;
        }
    </style>
</head>
<body class="min-h-screen bg-page text-text overflow-hidden">
      <nav class="flex justify-between items-center px-8 py-2 bg-surface border-b border-border w-full sticky top-0 z-50">
        <div class="flex items-center gap-3">
            <img class=" rounded-lg w-15 h-15 object-cover object-centers" src="/images/taskmanager_logo.png">
            <h1 class="text-lg font-semibold tracking-tight text-text">Note Manager</h1>
        </div>
        <div class="flex gap-1">
            <a href="/home" class="px-4 py-2 rounded-lg text-sm font-medium text-muted hover:bg-hover hover:text-text transition-colors duration-150">Home</a>
            <a href="#" class="px-4 py-2 rounded-lg text-sm font-medium text-muted hover:bg-hover hover:text-text transition-colors duration-150">About</a>
            <a href="#" class="px-4 py-2 rounded-lg text-sm font-medium text-muted hover:bg-hover hover:text-text transition-colors duration-150">Contact</a>
        </div>
    </nav>
    
        <div class="flex justify-center">
    <div class="hover:scale-105 transition-all duration-320 border border-border rounded-2xl p-4">
        <img
            src="/gif/sad_face_modern.gif"
            class="w-100 h-100 object-cover rounded-xl">
    </div>
        </div>
        <div class="flex justify-center mt-10">
      <a href="/" class="text-xs text-center font-medium px-10 py-5 rounded-lg bg-danger/10 text-danger hover:bg-danger/20 transition-colors duration-150">  Retry
                                </a>
                                </div>


    </body>